<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="${mainApplicationId}.permission.IPC" />

    <application
        android:label="@string/app_name"
        android:icon="@android:drawable/sym_def_app_icon"
        android:theme="@style/Theme.AppCompat.Light"
        android:usesCleartextTraffic="true">

        <service
            android:name=".MainService"
            android:exported="true"
            android:permission="${mainApplicationId}.permission.PLUGIN">
            <intent-filter>
                <action android:name="${mainApplicationId}.plugin.SERVICE" />
            </intent-filter>
        </service>

        <activity
            android:name=".ui.SettingsActivity"
            android:exported="true"
            android:label="@string/settings_title">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <!-- Allow Fcitx5 to find this activity as the plugin entry point/about page -->
            <intent-filter>
                <action android:name="${mainApplicationId}.plugin.MANIFEST" />
            </intent-filter>
        </activity>

        <service
            android:name=".service.QuickSyncTileService"
            android:icon="@drawable/syncclip"
            android:label="@string/quick_sync_tile_label"
            android:permission="android.permission.BIND_QUICK_SETTINGS_TILE"
            android:exported="true">
            <intent-filter>
                <action android:name="android.service.quicksettings.action.QS_TILE" />
            </intent-filter>
        </service>

    </application>
</manifest>
